.fullscreenMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.fullscreenMenu.show {
    transform: translateY(0);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-item {
    margin: 20px 0;
}

.nav-link {
    font-size: 24px;
    color: #007BFF;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #343a40 !important;
}

body.dark-mode .nav-link {
    color: #ffffff !important;
}